<div class="navbar bg-info mb-1">
    <a class="navbar-brand text-white">SPORTS STORE Registration</a>
</div>

<h4 *ngIf="showError" class="p-2 bg-danger text-white">
    Invalid email address or password and confirmed password are not the same.
</h4>

<form novalidate #registrationForm="ngForm">
    <div class="form-group">
        <label>Email:</label>
        <input #isEmail="ngModel" name="email" class="form-control"
               [(ngModel)]="regService.email" required />
        <div *ngIf="isEmail.invalid" class="text-danger">
            Please enter your email address
        </div>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" #isPassword="ngModel" name="password"
               class="form-control" [(ngModel)]="regService.password" required />
        <div *ngIf="isPassword.invalid" class="text-danger">
            Please enter your password
        </div>
    </div>
    <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" #isConfirmPswd="ngModel" name="confirmPswd"
               class="form-control" [(ngModel)]="regService.confirmPswd" required />
        <div *ngIf="isConfirmPswd.invalid" class="text-danger">
            Please confirm your password
        </div>
    </div>
    <div class="text-center pt-2">
        <button class="btn btn-primary" [disabled]="registrationForm.invalid"
                (click)="register()">
            Register
        </button>
    </div>

</form>
<div class="text-center pt-2">
    <button class="btn btn-primary" routerLink="/">Back</button>
</div>
