<div class="navbar bg-inverse ">
    <div class="row">
        <div class="col">
            <a class="navbar-brand text-white">
                THE TECH SHOP 
            </a>
        </div>
        <div class="col text-white mr-1">
            <store-cartsummary></store-cartsummary>
        </div>
    </div>
</div>


<span class="float-left badge badge-pill">
    <img src="/images/{{product?.image}}" alt="No image for this product" hight="300" width="300">
</span>


    <table class="table table-striped">
        <tr><th colspan="2" class="bg-info">Product</th></tr>
        <tr><th>Name</th><td>{{product?.name || 'No Data'}}</td></tr>
        <tr><th>Category</th><td>{{product?.category || 'No Data'}}</td></tr>
        <tr>
            <th>Description</th>
            <td>{{product?.description || 'No Data'}}</td>
        </tr>
        <tr><th>Price</th><td>{{product?.price  || 'No Data'}}</td></tr>
        <tr><th colspan="2" class="bg-info">Supplier</th></tr>
        <tr><th>Name</th><td>{{product?.supplier?.name}}</td></tr>
        <tr><th>City</th><td>{{product?.supplier?.city}}</td></tr>
        <tr><th>State</th><td>{{product?.supplier?.state}}</td></tr>
        <tr><th>Products</th><td>{{product?.supplier?.products?.length}}</td></tr>
    </table>
    <div class="text-center">
        <button class="btn btn-primary" routerLink="/">Back</button>
        <button class=" btn btn-sm btn-success"
                (click)="addToCart(product)">
            Add to ShopCart
        </button>
    </div>
